:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222629;
  background-color: #f6faff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --sidebar-active:#4690f6;
  --main-bg-color:#ecf3fe;
  --card-design-border:0px;
}

.sidebar{
  width: 200px;
  height: 100vh;
  margin: 0px 10px;
}

.sidebar-links ul{
  list-style: none;
  padding: 0;
  text-align: center;
}

.sidebar-links ul li{
  margin: 15px 0px;
  padding: 8px 0px;
}

.sidebar-links ul li.active{
  background-color: var(--sidebar-active);
  border-radius: 12px;
  color: #ffffff;
}

.sidebar-links ul li.active a{
  color: #ffffff;
}

.sidebar-links ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.main-container{
  width: 100%;
  padding: 15px;
  background-color: var(--main-bg-color);
}
.card-design{
  border: var(--card-design-border) !important;
}
.flight-image{
  width: 35%;
  height: 70%;
}